[submodule "alphacmakefiles"]
	path = alphacmakefiles
	url = https://bitbucket.org/hickeyjohnteam/alphacmakefiles.git
[submodule "alphahouse"]
	path = alphahouse
	url = https://bitbucket.org/hickeyjohnteam/alphahouse.git
[submodule "alphaphase-doc"]
	path = alphaphase-doc
	url = https://bitbucket.org/hickeyjohnteam/alphaphase-doc.git
