[submodule "alphacmakefiles"]
	path = alphacmakefiles
	url = https://github.com/AlphaGenes/alphacmakefiles.git
[submodule "alphahouse"]
	path = alphahouse
	url = https://github.com/AlphaGenes/alphahouse.git
[submodule "alphaphase-doc"]
	path = alphaphase-doc
	url = https://github.com/AlphaGenes/alphaphase-doc.git
